body{
	background: 	white;
}


.container1 {
height: 			auto;
color:  			grey;
width:				100%;
}

.middle {
margin-left:  		70px;
margin-top:			  20px;

}
.circular--portrait {
position: 		  relative;
width: 			    200px;
height: 			  200px;
overflow: 		  hidden;
border-radius: 	50%;

}

.circular--portrait img {
 width: 			       190%;
 height: 			      auto;
 background-image: 	url('http://www.nhsbsa.nhs.uk/i/Students/welcome.jpg');
 background-size: 	cover;
 display: 			    block;

}

.h1 {
  font-size:        30px;

}




hr {
	padding: 		5px;
}

/* Class Information*/

.classInfo {
background-color: 	black;


}



/* accordian style*/

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}





.circular--portrait2 {
  position:     relative;
  width:        50px;
  height:       50px;
  overflow:     hidden;
  border-radius:  50%;

}

.circular--portrait2 img {
 width:       190%;
 height:      auto;
 background-image:  url('http://www.nhsbsa.nhs.uk/i/Students/welcome.jpg');
 background-size:   cover;
 display:       block;

}

.badgeButton {
width:        50px;
height:       50px;
}


/*  Buttons at bottom of side bar*/

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* list*/

.list {
  margin-left: -40px;
}

/* Cal */

.col-md-8 .Cal {
  background: black;

}

.day {
  float: left;
  width: 95px;
  height: 350px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 20px;
}

.current {
  background: #ccccff;
}

.normal {
    background: #66ff33;
}

/* Dropdown Add Button */
.dropbtnAdd {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnAdd:hover, .dropbtnAdd:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdownAdd {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownAdd-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownAdd-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownAdd-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Dropdown View Button */
.dropbtnView {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnView:hover, .dropbtnView:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdownView {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownView-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownView-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownView-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Dropdown Request Button */
.dropbtnRequest {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnRequest:hover, .dropbtnRequest:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdownRequest {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownRequest-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownRequest-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownRequest-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.buttonSpace {
  margin-top: 5px;
  padding: 5px;
}




